build/
dist/
_build/
_generate/
*.so
*.py[cod]
*.egg-info
*.idea
.idea/*
*.prof
cmake-*/*
*.log
*imgui.ini
raisimGymTorch/env/data/*
.vscode/*
id_rsa
*/data/*
raisimGymTorch/env/bin/rsg*
raisimGymTorch/env/bin/*
data/*
*/cfg.yaml
raisimGymTorch/.idea/
*/default_controller_demo/src/*
wandb/
*/*.png
*/env_value.csv
/raisimGymTorch/env/envs/rsg_raibo_rough_terrain/trial_nerf_custom_8/
/raisimGymTorch/env/envs/rsg_raibo_rough_terrain/data/nerf_synthetic/custom_8/
